* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.hero .main_title {
  font-size: 10vw;
  color: black;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  position: relative;
}
.hero .main_title::before, .hero .main_title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero .main_title:hover::before {
  color: black;
  text-shadow: -1px 1px 0 #ff00ff, 1px 1px 0 #ff00ff, 1px -1px 0 #ff00ff, -1px -1px 0 #ff00ff;
  animation: glitch-effect 3s infinite;
}
.hero .main_title:hover::after {
  color: black;
  text-shadow: -1px 1px 0 #00ffff, 1px 1px 0 #00ffff, 1px -1px 0 #00ffff, -1px -1px 0 #00ffff;
  animation: glitch-effect 2s infinite;
}
@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: -2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}
.hero .arrow {
  text-decoration: none;
  font-size: 50px;
  color: black;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  position: absolute;
  bottom: 5vh;
  transition: all 0.1s ease-in;
  animation: appear;
  animation-duration: 2.5s;
}
.hero .arrow:hover {
  color: white;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  grid-template-rows: auto;
}
.content .project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: minmax(10px, 1.5vw);
}
.content .project:hover {
  border: 2px solid white;
}
.content .project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.content .project-title:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.content .project-title h1 {
  letter-spacing: 1vw;
  margin: 5vh 0 3vh 0;
}
.content .project-title h1 p {
  margin: 0;
}
.content .project-title .btn-web {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  padding: 2vh 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3vh 0 5vh 0;
  font-size: 2.5vh;
  cursor: pointer;
}
.content .project-title .btn-web:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.content .project-1 {
  background-image: url("./img/fitness_app.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content .project-2 {
  background-image: url("./img/hearts.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content .project-3 {
  background-image: url("./img/hextorgb.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content .project-4 {
  background-image: url("./img/porfolio.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content .project-5 {
  background-image: url("./img/strips.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content .project-6 {
  background-image: url("./img/blackmamba.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
