* {
  box-sizing: border-box;
}

body {
  margin: 60px 0 0 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
  color: black;
}
@media only screen and (max-width: 960px) {
  body {
    margin: 40px 0 0 0;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  width: 100%;
  height: 60px;
}
.navbar .main_title {
  font-size: 3em;
  color: black;
  position: absolute;
  left: 15px;
  top: 5px;
  margin: 0 0 0 5px;
}
.navbar .about {
  text-decoration: none;
  color: black;
  position: absolute;
  right: 15px;
  top: 35px;
  cursor: pointer;
}
.navbar .underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width ease-in-out 0.3s;
}
.navbar .underline:hover::after {
  width: 100%;
  transition: width ease-in-out 0.3s;
}
.navbar .about-text {
  position: absolute;
  background-color: white;
  margin-top: 60px;
  height: 100vh;
  width: 100vw;
  transform: translateX(100%);
  transition: all ease-in-out 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 960px) {
  .navbar .about-text {
    margin-top: 40px;
  }
}
.navbar .about-text .about-p {
  width: 70%;
  opacity: 0;
  transform: translateY(100px);
  transition: all ease-in-out 0.45s;
  transition-delay: 0.8s;
}
.navbar .about-text .about-p span {
  font-weight: bold;
}
.navbar .about-text .about-p span a {
  text-decoration: none;
  color: black;
  transition: all ease-in-out 0.1s;
}
.navbar .about-text .about-p span a:hover {
  color: red;
}
.navbar .about-text .text-appear {
  opacity: 1;
  transform: translateY(0px);
}
.navbar .slide-in {
  transform: translateX(0%);
}
@media only screen and (max-width: 960px) {
  .navbar {
    height: 40px;
  }
  .navbar .main_title {
    font-size: 2rem;
    top: 5px;
  }
  .navbar .about {
    top: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .navbar .main_title {
    font-size: 1.5rem;
    top: 12px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.hero .main_title {
  font-size: 10vw;
  color: black;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  position: relative;
}
.hero .main_title::before, .hero .main_title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero .main_title:hover::before {
  color: black;
  text-shadow: -1px 1px 0 #ff00ff, 1px 1px 0 #ff00ff, 1px -1px 0 #ff00ff, -1px -1px 0 #ff00ff;
  animation: glitch-effect 3s infinite;
}
.hero .main_title:hover::after {
  color: black;
  text-shadow: -1px 1px 0 #00ffff, 1px 1px 0 #00ffff, 1px -1px 0 #00ffff, -1px -1px 0 #00ffff;
  animation: glitch-effect 2s infinite;
}
@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: -2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}
.hero .arrow {
  text-decoration: none;
  font-size: 50px;
  color: black;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  position: absolute;
  bottom: 5vh;
  transition: all 0.1s ease-in;
  animation: appear;
  animation-duration: 2.5s;
}
.hero .arrow:hover {
  color: white;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  grid-template-rows: auto;
}
.content .project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: minmax(10px, 1.5vw);
}
.content .project:hover p {
  color: white;
}
.content .project:hover .btn-web {
  border: 2px solid white;
  color: white;
}
.content .project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.content .project-title:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.content .project-title h1 {
  letter-spacing: 1vw;
  margin: 5vh 0 3vh 0;
}
.content .project-title h1 p {
  margin: 0;
}
.content .project-title .btn-web {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  color: black;
  padding: 2vh 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3vh 0 5vh 0;
  font-size: 2.5vh;
  cursor: pointer;
}
.content .project-title .btn-web:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
.content .project-1 {
  background-image: url("./img/showcase.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content .project-2 {
  background-image: url("./img/triviaquiz.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
